html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      font-family: "Intel One Mono", monospace;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    header {
      /*background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), url('../img/music2.jpg');*/
      position: relative;
      background-image: url('../img/fondo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height:63rem;
               
      text-align: center;
    }

    .main_title{


        padding: 0.5rem 3rem;
        /*width: 40%;*/
        background-color: black;
       /* background-color:#d3cd2f !important;*/
        /*box-shadow: 0 0 10px rgba(250,250,250,1);*/
       /* color: rgb(84, 84, 44);*/
        color: #d3cd2f;
        font-size: 2rem;
        border-radius: 1rem;
        text-align: center;
        
    }

    .header-image{
      width: 20rem;
      position: absolute;
      left: 80%;
      
    }

    .main_title h1,p{
      margin: 0;
    }

    .main_title p{
      margin-bottom: 3rem;
    }

    .td-none{
      text-decoration: none;
      color: rgb(84, 84, 44);
    }

    .servicio {
      border-radius: 1rem;
      padding: 1.5rem;
      margin: 1rem;
      flex: 1 1 30%;
      box-shadow: 0 0 10px rgba(250,250,250,1);
      text-align: center;
      width: 18%;
      background-color: rgba(84, 84, 44,0.8);
      position: relative;
    }

    .eventos{
      position: absolute;
      background-image: url(../img/eventos.jpeg);
      top: 5%;
      left: 5%;
    }

    .artistas{
      position: absolute;
      background-image: url(../img/eventos.jpeg);
      top:30%;
      right:5%;
      
    }

    .aprender{
      position: absolute;
      background-image: url(../img/eventos.jpeg);
      left: 40%;
      top: 50%;
    }

    .titulo-gen{
      color: #d3cd2f;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    

    .redes-sociales a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
      font-size: 1.2rem;
    }


    .btn-servicio{
        display: block;
        color: black;
        text-decoration: none;
        padding: 1rem 2rem;
        margin-top: 2rem;
        background-color: rgb(206, 206, 109);
        font-size: 1rem;
        
    }

     .btn-servicio:hover{
        color: white;
        background-color: rgb(84, 84, 44);

    }

    @media (max-width: 768px) {
      .servicio {
        flex: 1 1 100%;
      }
    } 


    /*--------------------------------- eventos-------------------------------*/ 

#eventos {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: #2a2809e1;/* #f9f9f9;*/
    }

    .evento {
      
      background: rgb(255, 255, 255);
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1.5rem;
      margin: 1rem;
      flex: 1 1 30%;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      text-align: center;
    }

    .info-evento{
      text-align: left;
      padding-right: 3rem;
    }

    .informacion{
      display: flex;
      align-items: center;
    }


     @media (max-width: 768px) {
      .eventos {
        flex: 1 1 100%;
      }
    } 

     .imagen-evento{
      height: 20rem;
      width: 20rem;
      
      size: cover;
    }

   footer {
      background-color: #1a1a1a;
      color: #d3cd2f;
      text-align: center;
      padding: .8rem;
    }