<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
  <style>
   
  </style>
</head>
<body >
  <div class="main_title contenedor">
        <h1 class="main_title--titulo">¿Interesado en aprender música?</h1>
        <p class="generic-text">¡Descubre el músico que llevas dentro! 🎤🎸🎹
        ¿Siempre has soñado con tocar un instrumento o aprender a cantar?
        Te invitamos a conocer nuestras academias de música aliadas, donde podrás:

        Aprender guitarra, piano, batería, canto y mucho más.

        Disfrutar clases personalizadas para todas las edades y niveles.

        Vivir la música en un ambiente creativo y motivador.

        ✨ ¡Es el momento de dar el primer paso hacia tu talento musical!
        Conéctate con la música, conecta contigo.

        📍 Conoce aquí todas las academias y sus redes</p>
</div>
  
 
<div class="flex-eventos">
  <section id="eventos" class="contenedor">
    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Solo Rock</b> </p> </span>
                <p><b>Fecha:</b> 31/07/2025</p>
                <p><b>Artista:</b> Aerosmith</p>
                <p><b>Genero Musical: </b> Rock</p>
                <p><b>Descripción:</b> SOLOROCK musical está dedicado a que sus alumnos vivan una experiencia a través de la música y el instrumento, y así crezcan como individuos para integrarse a una comunidad artística y social, basados en tres pilares fundamentales: la autoestima, la disciplina y la autonomía (ADA).</p>
            </div>

            <img class="imagen-evento" src="../img/logo-solorock.jpg" alt="eventos">  
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Eluveitie </b> </p> </span>
                <p><b>Fecha:</b> 31/07/2025</p>
                <p><b>Artista:</b> Eluveitie</p>
                <p><b>Genero Musical: </b> Rock</p>
                <p><b>Descripción:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae distinctio magnam suscipit perferendis. Repudiandae in.</p>
            </div>

            <img class="imagen-evento" src="../img/eluveitie.jpg" alt="eventos">  
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Guns and Roses</b> </p> </span>
                <p><b>Fecha:</b> 31/07/2025</p>
                <p><b>Artista:</b> Guns and Roses</p>
                <p><b>Genero Musical: </b> Rock</p>
                <p><b>Descripción:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae distinctio magnam suscipit perferendis. Repudiandae i</p>
            </div>

            <img class="imagen-evento" src="../img/gunsandroses.jpg" alt="eventos">  
        </div>
    </div>
    
    
  </section>
<a class="btn-servicio" href="../index.html">Regresar</a>
</div>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
