<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
  <div class="main_title contenedor">
        <h1 class="main_title--titulo">¿Interesado en aprender música?</h1>
        <p class="generic-text">¡Descubre el músico que llevas dentro!
        ¿Siempre has soñado con tocar un instrumento o aprender a cantar?
        Te invitamos a conocer algunas academias de música en nuestra ciudad, donde podrás:

        Aprender guitarra, piano, batería, canto y mucho más.

        Disfrutar clases personalizadas para todas las edades y niveles.

        Vivir la música en un ambiente creativo y motivador.

        ¡Es el momento de dar el primer paso hacia tu talento musical!
        Conéctate con la música, conecta contigo.

       Conoce aquí todas las academias y sus redes</p>
</div>
  
 
<div class="flex-eventos">
  <section id="eventos" class="contenedor">
    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Solo Rock</b> </p> </span>
                <p><b>Descripción:</b> SOLOROCK musical está dedicado a que sus alumnos vivan una experiencia a través de la música y el instrumento, y así crezcan como individuos para integrarse a una comunidad artística y social, basados en tres pilares fundamentales: la autoestima, la disciplina y la autonomía (ADA).</p>
                 <div class="info-evento--redes">
                  <a href="https://www.instagram.com/solorockmusical/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                  <a href="https://www.facebook.com/solorockmusical/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="https://www.solorock.edu.co/" target="_blank"><i class="fa-solid fa-house"></i></a>
                 </div>
                
                 
              </div>

            <img class="imagen-evento" src="../img/logo-solorock.jpg" alt="eventos">  
        </div>
    </div>


      <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Academia Musical Diversidad </b> </p> </span>
                <p><b>Descripción:</b> Academia de caracter social que busca el desarrollo de destrezas musicales en niños, jovenes y adultos</p>
                 <div class="info-evento--redes">
                  <a href="https://www.instagram.com/academia_musical_diversidad/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                  <a href="https://www.facebook.com/academiadiversidad/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                 </div>
                
            </div>

            <img class="imagen-evento" src="../img/logo_academia.jpg" alt="logo Academia">  
        </div>
    </div>


      <div class="evento">
          <div class="informacion">
              <div class="info-evento">
                  <p><span> <b>EAS Escuela de Audio y Sonido de Colombia </b> </p> </span>
                  <p><b>Misión:</b> Ayudamos a Músicos, Productores, Cantantes, Dj y Técnicos de Audio a desarrollar su máximo potencial en la industria musical, gracias a nuestro innovador modelo de formación técnica</p>
                  <div class="info-evento--redes">
                      <a href="https://www.instagram.com/eascolombia/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      <a href="https://www.facebook.com/eascolombia" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="https://www.eas.edu.co/" target="_blank"><i class="fa-solid fa-house"></i></a>
                  </div>

              </div>

              <img class="imagen-evento" src="../img/Logo_EAS.jpg" alt="logo Academia">
          </div>
      </div>


      <div class="evento">
          <div class="informacion">
              <div class="info-evento">
                  <p><span> <b>Escuela cristiana de música Life Song Colombia</b> </p> </span>
                  <p><b>Descripción:</b>Escuela de música que ofrece iniciación musical en niños y adultos en varios instrumentos</p>
                  <div class="info-evento--redes">
                      <a href="https://www.instagram.com/lifesongcolombia/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                  </div>

              </div>

              <img class="imagen-evento" src="../img/Logo_LifeSong.jpg" alt="logo Academia">
          </div>
      </div>

      <div class="evento">
          <div class="informacion">
              <div class="info-evento">
                  <p><span> <b>Escuela de música de Bellas Artes</b> </p> </span>
                  <p><b>Descripción:</b>El programa en Música de Bellas Artes – Medellín cuenta con cinco líneas de énfasis: instrumento, canto lírico, canto popular, composición y dirección musical</p>
                  <div class="info-evento--redes">
                      <a href="https://www.instagram.com/bellasartesmedellin/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      <a href="https://www.facebook.com/BellasArtesMedellin" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="https://bellasartesmed.edu.co/programas/musica-2/" target="_blank"><i class="fa-solid fa-house"></i></a>
                  </div>

              </div>

              <img class="imagen-evento" src="../img/Logo_BellasArtes.jpg" alt="logo Academia">
          </div>
      </div>


      <div class="evento">
          <div class="informacion">
              <div class="info-evento">
                  <p><span> <b>Colombia Canta y Encanta</b> </p> </span>
                  <p><b>Descripción:</b>Organización cultural que desarrolla una experiencia de calidad a nivel de formación artística y personal en niños y jóvenes.</p>
                  <div class="info-evento--redes">
                      <a href="https://www.instagram.com/colombia_canta/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      <a href="https://www.facebook.com/colombiacanta/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="https://www.colombiacanta.org/acerca-de" target="_blank"><i class="fa-solid fa-house"></i></a>
                  </div>

              </div>

              <img class="imagen-evento" src="../img/Logo_ColombiaCE.jpg" alt="logo Academia">
          </div>
      </div>


  </section>
<a class="btn-servicio btn-2" href="../index.html">Regresar</a>
</div>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
