<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
  <div class="main_title contenedor">
        <h1 class="main_title--titulo">Conoce Nuestros Artistas</h1>
        
        <p class="generic-text">"Aquí la música cobra vida" En este espacio te acercamos a los talentos que están marcando la diferencia. Descubre sus historias, su arte y la pasión que ponen en cada nota. Desde voces que estremecen hasta manos que hacen magia con los instrumentos, cada artista aquí tiene algo único para ti.</p>
</div>
  
 
<div class="flex-eventos">
  <section id="eventos" class="contenedor">
    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Mayarik</b> </p> </span>
                <p><b>Nombre:</b>Rigoberto Salazar López</p>
                <p><b>Nacionalidad:</b>Colombiano / Medellín </p>
                <p><b>Género musical:</b>Música Espiritual, Música Medicina</p>
                <a class="btn-servicio" href="rigo.html">Ver más</a>
                 
              </div>

            <img class="imagen-evento" src="../img/Rigo.jpg" alt="eventos">
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Jorge Botero</b> </p> </span>
                <p><b>Nombre:</b>Jorge Iván Botero </p>
                <p><b>Nacionalidad:</b>Colombiana / Medellín </p>
                <p><b>Género musical:</b>Rock, Reggae </p>
                <a class="btn-servicio" href="../templates/Jorge.html">Ver más</a>
                 
              </div>

            <img class="imagen-evento" src="../img/artista1.jpg" alt="eventos">  
        </div>
    </div>


    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Willy Benítez</b> </p> </span>
                <p><b>Nombre:</b>Wilfred Benítez Berrío</p>
                <p><b>Nacionalidad:</b>Colombiana / Medellín </p>
                <p><b>Género musical:</b>Rock, parrandera</p>
                <a class="btn-servicio" href="willy.html">Ver más</a>

            </div>
            <img class="imagen-evento" src="../img/Willy Benítez.jpg" alt="eventos">
        </div>
    </div>


    <div class="evento">
        <div class="informacion">
           <div class="info-evento">
                <p><span> <b>Los Veteranos de hoy y siempre</b> </p> </span>
                <p><b>Integrantes:</b>Amado Emilio Valle, José Jesús Pérez y Gabriel Castaño</p>
                <p><b>Nacionalidad:</b>Colombianos: Peque, Antioquia /  </p>
                <p><b>Género musical:</b>Antaño, vals, pasillo, bolero, parrandera</p>
                <a class="btn-servicio" href="../templates/Veteranos.html">Ver más</a>
             </div>
             <img class="imagen-evento" src="../img/Veteranos.jpg" alt="eventos">
        </div>
    </div>




  </section>

  <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>¿Quieres ser parte de esta familia musical?</b> </p> </span>
            </div>
        <a class="btn-servicio btn-3" href="https://docs.google.com/forms/d/e/1FAIpQLSeVpd3hHiWtnqTSTy3zbtgcWYD-OVReYNDq2FMyui990AubDA/viewform?usp=header" target="_blank">Cuentanos tu  historia</a>

        </div>
    </div>

</div>
<a class="btn-servicio btn-2" href="../index.html">Regresar</a>
  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
