<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main_title contenedor">
        <h1 class="main_title--titulo ">Eventos</h1>
        <p class="generic-text">¡Bienvenidos al corazón musical de Medellín! Esta página está dedicada a todos los amantes de la música que quieren estar al tanto de los mejores eventos en la ciudad. Aquí encontrarás información actualizada sobre conciertos, festivales, toques en vivo, fiestas electrónicas y mucho más. Desde artistas locales emergentes hasta grandes espectáculos internacionales, Medellín vibra con una oferta musical diversa que no te puedes perder. Explora, agenda y vive cada ritmo con nosotros.</p>
</div>
  
<div class="flex-eventos">
  <section id="eventos" class="contenedor">
    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span > <b>Aerosmith</b> </p> </span>
                <p><b>Fecha:</b> 31/07/2025</p>
                <p><b>Artista:</b> Aerosmith</p>
                <p><b>Genero Musical: </b> Rock</p>
                <p><b>Descripción:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae distinctio magnam suscipit perferendis. Repudiandae in</p>
            </div>

            <img class="imagen-evento" src="../img/aerosmith.jpg" alt="eventos">  
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Eluveitie </b> </p> </span>
                <p><b>Fecha:</b> 31/07/2025</p>
                <p><b>Artista:</b> Eluveitie</p>
                <p><b>Genero Musical: </b> Rock</p>
                <p><b>Descripción:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae distinctio magnam suscipit perferendis. Repudiandae in.</p>
            </div>

            <img class="imagen-evento" src="../img/eluveitie.jpg" alt="eventos">  
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Guns and Roses</b> </p> </span>
                <p><b>Fecha:</b> 31/07/2025</p>
                <p><b>Artista:</b> Guns and Roses</p>
                <p><b>Genero Musical: </b> Rock</p>
                <p><b>Descripción:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae distinctio magnam suscipit perferendis. Repudiandae i</p>
            </div>

            <img class="imagen-evento" src="../img/gunsandroses.jpg" alt="eventos">  
        </div>
    </div>
    
    
  </section>
<a class="btn-servicio btn-2" href="../index.html">Regresar</a>
</div>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
