<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main_title contenedor">
        <h1 class="main_title--titulo ">Eventos</h1>
        <p class="generic-text">¡Bienvenidos al corazón musical de Medellín! Esta página está dedicada a todos los amantes de la música que quieren estar al tanto de los mejores eventos en la ciudad. Aquí encontrarás información actualizada sobre conciertos, festivales, toques en vivo, fiestas electrónicas y mucho más. Desde artistas locales emergentes hasta grandes espectáculos internacionales, Medellín vibra con una oferta musical diversa que no te puedes perder. Explora, agenda y vive cada ritmo con nosotros.</p>
</div>
  
<div class="flex-eventos">
  <section id="eventos" class="contenedor">
    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span > <b>49 años del Grupo Suramérica</b> </p> </span>
                <p><b>Fecha:</b>Agosto 23 de 2025</p>
                <p><b>Artista:</b>Grupo Suramérica</p>
                <p><b>Género Musical: </b> Social, Poesía en canción</p>
                <p><b>Lugar:</b> Parque principal del Retiro, Antioquia</p>
                <p><b>Hora:</b> 8:00 pm</p>
                <p><b>Costo:</b> Entrada Libre</p>
            </div>

            <img class="imagen-evento" src="../img/GRUPO-SURAMERICA.jpg" alt="eventos">
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Medellín, Urbana Fest</b> </p> </span>
                <p><b>Fecha:</b>Julio 19 y 20 de 2025</p>
                <p><b>Artista:</b>Más de 20 artistas locales y nacionales</p>
                <p><b>Género Musical: </b>Freestyle, breakdance. Cierre especial con DJ Pope, Divino y Yaga.</p>
                <p><b>Lugar:</b>Cancha del barrio Antonio Nariño, Comuna 13 Medellín</p>
                <p><b>Hora:</b>Conciertos desde las 4:00 pm</p>
                <p><b>Costo:</b>Festival gratuito</p>
            </div>

            <img class="imagen-evento" src="../img/Urbana_fest.jpg" alt="eventos">
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Épica Latin America Tour 2025</b> </p> </span>
                <p><b>Fecha:</b>Septiembre 25 de 2025</p>
                <p><b>Artista:</b>Épica</p>
                <p><b>Género Musical: </b>Metal sinfónico.</p>
                <p><b>Lugar:</b>Teatro Universidad de Medellín</p>
                <p><b>Hora:</b>8:00 pm</p>
                <p><b>Costo:</b>Precios desde $309.440 COP según localidad. Boletas en eticketablanca.com</p>
            </div>

            <img class="imagen-evento" src="../img/Epica-Medellin.jpg" alt="eventos">
        </div>
    </div>


    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Nanpa Básico</b> </p> </span>
                <p><b>Fecha:</b>Septiembre 27 de 2025</p>
                <p><b>Artista:</b>Nanpa Básico</p>
                <p><b>Género Musical: </b>Hip Hop, combina influencias de música urbana.</p>
                <p><b>Lugar:</b>City Hall El Rodeo, Medellín</p>
                <p><b>Hora:</b>7:00 pm</p>
                <p><b>Costo:</b>Desde $161.510 COP según localidad. Boletas en ticketlive.com</p>
            </div>
            <img class="imagen-evento" src="../img/Nanpa_Medellin.jpg" alt="eventos">
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Guns and Roses en Medellín</b> </p> </span>
                <p><b>Fecha:</b>Octubre 11 de 2025</p>
                <p><b>Artista:</b>Guns and Roses</p>
                <p><b>Género Musical: </b>Rock.</p>
                <p><b>Lugar:</b>Estadio Atanasio Girardot, Medellín</p>
                <p><b>Hora:</b>7:00 pm</p>
                <p><b>Costo:</b>Desde $180.000 COP según localidad. Boletas en ticketlive.com</p>
            </div>
            <img class="imagen-evento" src="../img/Guns-Roses.jpg" alt="eventos">
        </div>
    </div>

    <div class="evento">
        <div class="informacion">
            <div class="info-evento">
                <p><span> <b>Alejandro Fernández, de Rey a Rey, Homenaje a Vicente Fernández</b> </p> </span>
                <p><b>Fecha:</b>Octubre 25 de 2025</p>
                <p><b>Artista:</b>Alejandro Férnandez</p>
                <p><b>Género Musical: </b>Ranchera</p>
                <p><b>Lugar:</b>Centro de Eventos La Macarena, Medellín</p>
                <p><b>Hora:</b>7:00 pm</p>
                <p><b>Costo:</b>Desde $229.000 COP según localidad. Boletas en taquillalive.com</p>
            </div>
            <img class="imagen-evento" src="../img/Alejandro-Fdez.jpg" alt="eventos">
        </div>
    </div>


    <div class="evento">
        <div class="informacion">
           <div class="info-evento">
                <p><span> <b>Bogotá: La gira | Andrés Cepeda | Medellín</b> </p> </span>
                <p><b>Fecha:</b>Septiembre 10, 11 y 12 de 2025</p>
                <p><b>Artista:</b>Andrés Cepeda</p>
                <p><b>Género Musical: </b>Pop, rock, balada, bolero</p>
                <p><b>Lugar:</b>Teatro Metropolitano, Medellín</p>
                <p><b>Hora:</b>7:00 pm</p>
                <p><b>Costo:</b>Desde $290.000 COP según localidad. Boletas en tuboleta.com</p>
            </div>
            <img class="imagen-evento" src="../img/Andres Cepeda.jpg" alt="eventos">
        </div>
    </div>


  </section>
<a class="btn-servicio btn-2" href="../index.html">Regresar</a>
</div>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
