<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
  <div class="main_title contenedor">
        <h1 class="main_title--titulo">Jorge Botero</h1>
</div>

  <section id="artistas" class="contenedor">

            <div class="info-artista generic-text">
                <p><span> <b>Su Historia:</b> </p> </span>
                <p>Es músico de Medellín hace más de 30 años, toca el bajo eléctrico. <br>

                    Desde que estaba en el colegio escuchaba mucha música rock y le interesó el sonido de la guitarra eléctrica y casi un año después se inclinó mas por el bajo y se enamoró y empezó a estudiarlo. <br><br>

                    El gusto de Jorge por la música es como el aire que respira, lo que lo mueve día a día, es la manifestación mas pura y elevada para transmitir sus sentimientos y emociones. <br><br>
                <span> <b>Inspiraciones musicales: <br><br></b></span>

                    Su mayor inspiración para crear música es su familia, sus hijos, sus amigos, la sociedad en general y lo que sucede en el día a día, por ejemplo, la crisis climática y lo que pasa con el planeta tierra, en general todo lo que siente, escucha y le conecta con sus emociones le inspira a crear música.<br><br>

                    Jorge considera que la música sirve para expresar todos los sentimientos como amor, desamor, protesta, inconformidad, alegría, etc. La música ha sido un vehículo para expresarse en la vida y lograr que las personas se conecten o identifiquen con esas emociones, historias y vivencias.<br><br>

                    Jorge actualmente es integrante de varios grupos de música de rock y reggae.<br><br>

                    Cree que un grupo musical debe estar a la vanguardia de nuevas tecnologías y plataformas digitales para darse a conocer al público y llegar a más personas.<br><br>

                    <span> <b>Trayectoria:<br><br></b> </span>

                    Desde los 14 años escuchando música, se dejó envolver por el sonido de los instrumentos. Desde la época del colegio se unió con sus amigos Sebastián Mejía y Felipe Muñoz y formaron una banda de Rock “Tr3s de Corazón”, y fue desde ahí que inició su carrera musical.<br><br>

                    Le gusta mucho en general el rock, el reggae, la salsa, pero con el rock se identificó mucho con el sonido y desde ahí sintió que quería ser músico y tocar un instrumento.<br><br>

                    Jorge considera que en Colombia impulsar la música rock ha sido una lucha, ya que el país se ha caracterizado por géneros más tropicales.<br><br>

                    <span> <b>Próximos proyectos:<br><br> </b> </span>

                    A Jorge le gustaría aprender a tocar mas instrumentos como la batería y el piano, así mismo como administración en el negocio de la música como en plataformas musicales.<br><br>

                    Tiene también como proyecto cercano con una de sus bandas, crear nuevas canciones, ya que buscan mostrar algo nuevo y no quedarse con lo que ya se hizo.<br><br>

                    Jorge piensa que la música también va madurando a la par que se madura como persona.<br><br>
                </p>

        
            </div>
            
        <div class="side-artista">
            <img class="imagen-artista" src="../img/artista1.jpg" alt="eventos"> 
            <div>
                <a href="https://youtube.com/@tresdecorazon?si=VdcXOEKiHtgh9b1z" target="_blank" class="btn-servicio">Síguelo en youtube</a>
            </div> 

            <div class="entrevista">
                <div class="">
                    <div class="info-entrevista">
                        <p><span> <b>Entrevistas</b> <br><br></p> </span>
                        <p>Entrevista exclusiva con Talento Ocultos</p>
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/qYyKK2ks-K4?si=cjEISTWiCe-tlaKd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        <br><br>    
                        <p>Tr3s de corazón le canta a los héroes de la Selección Colombia</p>
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/RzhQ3MFEcrc?si=_3bP9xyqpJfsIaBm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="entrevista">
                <div class="">
                    <div class="info-entrevista">
                        <p><span> <b>Disfruta de su música</b></p> </span>

                        <a href="https://www.youtube.com/watch?v=z9hamsnhFt8" target="_blank" class="btn-servicio"><p>Tr3sdeCoraZón - H3roes (Video Oficial)</p></a>
                    
                        <a href="https://www.youtube.com/watch?v=NzSMOdknj3Q" target="_blank" class="btn-servicio"><p>DAME UNA ALEGRIA TR3S DE CORAZON</p></a>

                        <a href="https://www.youtube.com/embed/C9yhD-Y5K48?si=Y7RJjf5D8mVe5qIa" target="_blank" class="btn-servicio"><p>Tr3sdeCoraZón - Paam (DVD 10 Años)</p></a>

                        <a href="https://www.youtube.com/shorts/IYOxm8mIJwY" target="_blank" class="btn-servicio"><p>Toque con Servicio Publiko</p></a>


                    </div>
                </div>
            </div>
            
        </div>

        
  </section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
