<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
  <div class="main_title contenedor">
        <h1 class="main_title--titulo">Rigo Viento</h1>
</div>

  <section id="artistas" class="contenedor">

            <div class="info-artista generic-text">
                <p><span> <b>Su Historia:</b> </p> </span>
                <p>Rigoberto, conocido en el mundo musical como Rigo Viento, lleva más de tres décadas recorriendo los caminos del arte. Desde muy joven encontró en la música un refugio y un lenguaje universal. Su viaje comenzó con la percusión y la guitarra acústica, pero pronto descubrió que su voz también tenía un lugar especial: la armonía de los coros que han acompañado los distintos proyectos de los que ha hecho parte.<br><br>
                   En su andar artístico ha compartido escenario con diferentes agrupaciones, entre ellas Whipala y Kantuuk, hasta dar vida a su actual proyecto: Mayarik, un trío que interpreta música espiritual, también conocida como música medicina. A través de cada acorde, Mayarik busca conectar corazones, sanar memorias y despertar la sensibilidad en medio del bullicio cotidiano.<br><br>

                <span> <b>Inspiraciones musicales: <br><br></b></span>
                La música medicina ha sido el centro de su inspiración, un sendero que se ha nutrido con la fuerza de la música cristiana y la profundidad de la canción social. Entre sus faros musicales resuenan nombres como Mercedes Sosa, el grupo Suramérica e Illary, artistas y colectivos que han sabido cantar desde el alma para tocar lo humano y lo sagrado.<br> <br>

                <span> <b>Estilo musical: <br><br></b></span>
                El arte de Rigo Viento se mueve entre:<br>
                    ✨ Música espiritual<br>
                    ✨ Música medicina<br><br>
                
                <span> <b>Mensaje en sus canciones:<br><br></b> </span>

                Más allá de la técnica o los escenarios, Rigo Viento tiene un propósito claro: llevar un mensaje de paz y amor al mundo. Cada canción que interpreta es una invitación a la calma, a recordar que lo esencial se encuentra en lo simple y en lo profundo del espíritu.<br><br>

                <span> <b>Próximos proyectos:<br><br> </b> </span>

                Consciente de la necesidad de un respiro en una sociedad acelerada y caótica, Rigo Viento desea que su proyecto musical sea un faro de tranquilidad.<br>
                Sueña con grabar un disco con su grupo Mayarik que recoja estas melodías y mensajes, para que viajen más allá de las fronteras físicas y lleguen a quienes buscan un espacio de paz interior.<br><br>

                <span> <b>Contáctalo para tus eventos:<br> </b> </span>
                📧 rigosalazar@gmail.com<br>
                📞 300 463 3838<br>
                En sus redes sociales:<br>
                <div>
                    <a href="https://www.instagram.com/rigoviento?igsh=c2RybHg4czZyd3ls" target="_blank" class="btn-servicio"><p>Síguelo en Instagram</p></a>
                </div>


                </p>

            </div>
            
        <div class="side-artista">
            <img class="imagen-artista" src="../img/Rigo.jpg" alt="eventos">
            <div>
                <a href="https://youtube.com/playlist?list=PLuU9PVRI2iPHmuiO5OJNjpx9hYMM-yfhJ&si=2pnyDiJ4M3wLhzL5" target="_blank" class="btn-servicio">Síguelos en youtube</a>
            </div> 

            <div class="entrevista">
                <div class="">
                    <div class="info-entrevista">
                        <p><span> <b>Entrevistas</b> <br><br></p> </span>
                        <p>Entrevista exclusiva con Talentos Ocultos PRÓXIMAMENTE</p>

                    </div>
                </div>
            </div>
            <div class="entrevista">
                <div class="">
                    <div class="info-entrevista">
                        <p><span> <b>Disfruta de su música</b></p> </span>

                        <a href="https://youtu.be/ygIJx502t1c?si=pc2Wydj3JZn0Xs99" target="_blank" class="btn-servicio"><p>Muestra musical en Urrao</p></a>
                        <a href="https://youtu.be/46uWq5rAuZE?si=S1POmBK9svyytgtN" target="_blank" class="btn-servicio"><p>Aleluya - versión Mayarik</p></a>
                        <a href="https://youtu.be/shR4KGBMioU?si=KAOK7rKJlsqWQtVa" target="_blank" class="btn-servicio"><p>Muestra musical en Lima-Perú</p></a>

                    </div>
                </div>
            </div>
            
        </div>

        
  </section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
