<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talentos Ocultos</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
 <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
  <div class="main_title contenedor">
        <h1 class="main_title--titulo">Sol RZ</h1>
</div>

  <section id="artistas" class="contenedor">

            <div class="info-artista generic-text">
                <p><span> <b>Su Historia:</b> </p> </span>
                <p>Sol Angie Restrepo Zapata, conocida artísticamente como Sol RZ, eligió ese nombre porque siente que representa empoderamiento y fuerza. Desde muy pequeña supo que quería ser cantante, ya que proviene de una familia de músicos por parte de su padre. <br><br>

                Su carrera musical comenzó gracias al apoyo incondicional de sus padres, quienes siempre creyeron en su talento. Aunque su camino no ha sido fácil, especialmente al inicio, Sol RZ logró salir adelante con la ayuda y el respaldo de su madre. <br><br>

                <span> <b>Inspiraciones musicales: <br><br></b></span>

                  Sol RZ se inspira en grandes artistas como Rihanna y Ariana Grande, quienes han influido en su estilo y en su mensaje artístico. <br> <br>

                <span> <b>Estilo musical: <br><br></b></span>
                  Su música es variada, aunque actualmente se inclina más hacia el género urbano, explorando ritmos como el afro, la danza y la bachata. <br><br>
                
                <span> <b>Mensaje en sus canciones:<br><br></b> </span>

                A través de sus canciones, busca transmitir principalmente empoderamiento femenino, pero su intención es llegar a todo tipo de público con mensajes de fuerza, identidad y autenticidad. <br><br>

                <span> <b>Trayectoria:<br><br></b> </span>

                Inició su camino en la música desde muy niña, cantando en iglesias. Posteriormente, cuando se trasladó a Apartadó, participó activamente en actividades de la Casa de la Cultura. Al terminar ese ciclo, regresó a Medellín, donde conoció a su actual mánager, quien la impulsó a profesionalizarse y a crecer como artista, llevándola a lo que hoy es su proyecto musical. <br><br>

                Sol RZ afirma que ama la música porque con ella nació y creció; siente que es su refugio y su manera de expresar lo que lleva dentro. <br><br>

                <span> <b>Próximos proyectos:<br><br> </b> </span>

                Actualmente, está trabajando en una nueva canción titulada Piquete, un reggaetón con el que espera seguir conquistando escenarios y corazones. <br><br>

                <span> <b>Contáctala para tus eventos:<br><br> </b> </span>

                En sus redes sociales:<br><br>

                <a href="https://www.instagram.com/solrz__?igsh=MmU5c2NlMDM1dmRr" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    
                </p>

        
            </div>
            
        <div class="side-artista">
            <img class="imagen-artista" src="../img/artista2.jpg" alt="eventos"> 
            <div>
                <a href="https://www.youtube.com/@SOLRZ" target="_blank" class="btn-servicio">Síguela en youtube</a>
            </div> 

            <div class="entrevista">
                <div class="">
                    <div class="info-entrevista">
                        <p><span> <b>Entrevistas</b> <br><br></p> </span>
                        <p>Entrevista exclusiva con Talentos Ocultos</p>
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/H_zl2QteNQI?si=OHfWRfKnFeA-lRCy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="entrevista">
                <div class="">
                    <div class="info-entrevista">
                        <p><span> <b>Disfruta de su música</b></p> </span>

                        <a href="https://www.youtube.com/watch?v=oYgI6DYAavQ" target="_blank" class="btn-servicio"><p>SOL - SABES (VIDEO OFICIAL)</p></a>
                    
                        <a href="https://www.youtube.com/watch?v=QQNAYZP-ZPQ" target="_blank" class="btn-servicio"><p>SOL - DIOSA (VIDEO OFICIAL)</p></a>

                        <a href="https://www.youtube.com/watch?v=56Jxmv1bea0" target="_blank" class="btn-servicio"><p>SOL - ❌ AJEDREZ ❌(VIDEO OFICIAL)</p></a>

                        <a href="https://www.youtube.com/watch?v=X8ZHVi2BDx8" target="_blank" class="btn-servicio"><p>SOL - MAR Y LUZ ☀️🏝️ (VIDEO OFICIAL)</p></a>


                    </div>
                </div>
            </div>
            
        </div>

        
  </section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

  <footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
  </footer>

</body>
</html>
