<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talentos Ocultos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
<div class="main_title contenedor">
    <h1 class="main_title--titulo">Los Veteranos de hoy y siempre</h1>
</div>

<section id="artistas" class="contenedor">

    <div class="info-artista generic-text">
        <p><span> <b>Su Historia:</b> </p> </span>
        <p>Son músicos Antioqueños y ahora radicados en la ciudad de Medellín. Músicos hace más de 30 años, tocan guitarra, tiple y requinto. <br>

            xxxxxxxxxxxxxxxxxxxxxx. <br><br>
            <span> <b>Inspiraciones musicales: <br><br></b></span>

            Su mayor inspiración para crear música es xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx para darse a conocer al público y llegar a más personas.<br><br>

            <span> <b>Trayectoria:<br><br></b> </span>

            xxxxxxxxxxxxxxxxxxxxxxxxxxxx.<br><br>

            <span> <b>Próximos proyectos:<br><br> </b> </span>

            xxxxxxxxxxxxxxxxxxxxxxxx.<br><br>

            <span> <b>Contáctalos para tus eventos:<br><br> </b> </span>

            Celular: 3105494674 - Amado Valle (Representante).<br><br>
        </p>


    </div>

    <div class="side-artista">
        <img class="imagen-artista" src="../img/Veteranos.jpg" alt="eventos">
        <div>
            <a href="https://youtube.com/" target="_blank" class="btn-servicio">Síguelo en youtube</a>
        </div>

        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Entrevistas</b> <br><br></p> </span>
                    <p>Entrevista exclusiva con Talento Ocultos</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/qYyKK2ks-K4?si=cjEISTWiCe-tlaKd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <br><br>
                    <p>Tr3s de corazón le canta a los héroes de la Selección Colombia</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/RzhQ3MFEcrc?si=_3bP9xyqpJfsIaBm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Disfruta de su música</b></p> </span>

                    <a href="https://youtu.be/75hpV4AjwdU?si=uXqsDL7OoE7G4Qla" target="_blank" class="btn-servicio"><p>El fiambre de Estela</p></a>

                    <a href="https://youtu.be/Ga4Kz3-1Dn0?si=xn4TISRiBeUsjtSw" target="_blank" class="btn-servicio"><p>El Cristo de la pared</p></a>

                </div>
            </div>
        </div>

    </div>


</section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

<footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
</footer>

</body>
</html>
