<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talentos Ocultos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
<div class="main_title contenedor">
    <h1 class="main_title--titulo">Los Veteranos de hoy y siempre</h1>
</div>

<section id="artistas" class="contenedor">

    <div class="info-artista generic-text">
        <p><span> <b>Su Historia:</b> </p> </span>

        <p>Es un grupo de música de antaño, que algunos llaman música vieja, está conformado por 3 integrantes: Amado Emilio Valle, José Jesús Pérez y Gabriel Castaño, todos oriundos de diferentes municipios de Antioquia: Peque, Nariño y Maceo, sin embargo hoy en día están radicados en la ciudad de Medellín y Marinilla. <br><br>

            Cada uno inició en la música hace más de 50 años, pasando por diferentes agrupaciones, pero Los Veteranos de hoy y siempre empezó como grupo conociéndose en el mismo barrio de Medellín desde hace 4 años y al encontrar que tenían gustos similares en los géneros musicales decidieron hacer ensayos juntos y empezar a armar listas de canciones. <br><br>

            <span> <b>Inspiraciones musicales: <br><br></b></span>

            El sentimiento aflora cuando tocan sus canciones, ya que los anima y sienten mucha alegría, la cual transmiten al público que los escucha y sienten deleite al interpretarlas y ver a sus espectadores animados al ritmo de la música.<br><br>

            Disfrutan la música porque es como si llevaran en las venas y ha sido su hobbie desde que eran muy jóvenes.<br><br>

            La música que los Veteranos interpretan la consideran sentimental y con filosofía, es música bien pensada para cantarla y dedicarla, con su música ellos esperan poder llegar a otras personas conectado con las emociones: alegría, risas, amor, nostalgia.<br><br>

            Estan inspirados en artistas como Julio Jaramillo, Olimpo Cárdenas, Dueto e Antaño, en el género popular y parrandera están Joaquin Bedoya, Dueto Revelación, Los relicarios, Charrito Negro, Darío Gómez, etc.<br><br>

            <span> <b>Trayectoria:<br><br> </b> </span>

            El público con los que mas conectan son las familias y amigos en las serenas o fiestas, gracias a su variado repertorio musical, pueden conectar con diferentes generaciones.<br><br>

            Ya han realizado diferentes presentaciones en reuniones familiares, fiestas de cumpleaños, fin de año, reuniones de amigos, donde se han dado a conocer dejando a sus espectadores muy felices con sus interpretaciones.<br><br>

            <span> <b>Próximos proyectos:<br><br> </b> </span>

            Les gustaría innovar como grupo proyectándose a ser una orquesta y se animan a tener en su grupo un músico que toque batería, para la música parrandera con el fin de completar el sonido de sus canciones y hacerlas mas armónicas.<br><br>

            <span> <b>Contáctalos para tus eventos:<br> </b> </span>
            📧 amadovalleh@gmail.com<br>
            📞 310 549 4674 - Amado Valle (Representante).<br><br>
        </p>


    </div>

    <div class="side-artista">
        <img class="imagen-artista" src="../img/Veteranos.jpg" alt="eventos">
        <div>
            <a href="https://youtube.com/playlist?list=PLuU9PVRI2iPHmxrvwC2JorAHWCzwHWgUo&si=IABxgF2VpO7_k-dA" target="_blank" class="btn-servicio">Síguelos en youtube</a>
        </div>

        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Entrevistas</b> <br></p> </span>
                    <p>Entrevista exclusiva con Talentos Ocultos</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/9L8aXPCdN-E?si=_pj-O59WgBy8Nr_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Disfruta de su música</b></p> </span>

                    <a href="https://youtu.be/75hpV4AjwdU?si=KGFPDoX-OeZ8nSeg" target="_blank" class="btn-servicio"><p>El fiambre de Estela</p></a>

                    <a href="https://youtu.be/Ga4Kz3-1Dn0?si=0GGnZ8OI99pkEDGA" target="_blank" class="btn-servicio"><p>El Cristo de la pared</p></a>

                    <a href="https://youtu.be/GKfMrP57RZs?si=mDkhUQAlnkrwzqVq" target="_blank" class="btn-servicio"><p>Ingratas Falsarias</p></a>

                </div>
            </div>
        </div>

        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Evento en Vivo</b> <br></p> </span>
                    <p>Muestra promocionada por Talentos Ocultos en Cosmo Schools Bello</p>
                    <a href="https://youtube.com/shorts/AjN_NndU468?si=RGmQTgFa_9OH6GDv" target="_blank" class="btn-servicio"><p>Muestra de Pensando en ella</p></a>

                </div>
            </div>
        </div>

    </div>


</section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

<footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
</footer>

</body>
</html>
