<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talentos Ocultos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
<div class="main_title contenedor">
    <h1 class="main_title--titulo">Willy Benítez</h1>
</div>

<section id="artistas" class="contenedor">

    <div class="info-artista generic-text">
        <p><span> <b>Su Historia:</b> </p> </span>
        <p>Wilfred Benítez Berrío, conocido artísticamente como Willy Benítez, es un músico multi instrumentista de 42 años, originario de Bello, Antioquia. Desde muy joven encontró en la música un camino de expresión, iniciando su trayectoria hace más de 28 años y consolidándose como productor, compositor, intérprete y formador.<br><br>

            Su versatilidad lo ha llevado a explorar una amplia gama de géneros musicales, razón por la cual se define a sí mismo como un artista de “variedad”. Además, se presenta al mundo no solo como músico, sino como un apasionado del arte que busca transmitir autenticidad y dejar huella a través de cada proyecto.<br><br>

            La historia musical de este creador comenzó en su niñez, cuando descubrió su afinidad natural por los sonidos y los instrumentos. Poco a poco fue aprendiendo de manera autodidacta y con el apoyo de maestros y colegas que lo inspiraron a seguir adelante. Con el tiempo, fue sumando instrumentos a su repertorio: guitarra acústica y eléctrica, bajo, violín, batería, ukelele, requinto, flauta, teclado, cuatro, tiple y bandola, hasta convertirse en un verdadero multi instrumentista.<br><br>

            A lo largo de los años ha formado parte de diferentes procesos musicales, pasando por agrupaciones y proyectos independientes. Su dedicación y disciplina lo llevaron no solo a ser intérprete, sino también a componer y producir su propia música.<br><br>

            Ha vivido la música como una experiencia integral: desde tocar en reuniones familiares y eventos locales hasta abrirse camino hacia un proyecto más sólido con proyección internacional. Su historia refleja constancia, amor genuino por el arte y la firme convicción de que la música puede transformar vidas.<br><br>

            <span> <b>Inspiraciones musicales: <br><br></b></span>

            El intérprete no se limita a una sola influencia, ya que su formación le ha permitido moverse entre múltiples géneros. Conecta con artistas y estilos de distintos ritmos, adaptándose a cada instrumento y a cada proyecto.<br><br>

            Su relación con la música va más allá de la interpretación, la siente como parte esencial de su vida, una pasión que lo inspira a seguir creando y enseñando. Para él, la música es energía que se comparte y una herramienta para transformar emociones en experiencias significativas.<br><br>

            <span> <b>Trayectoria:<br><br></b> </span>

            Con casi tres décadas de recorrido, este músico ha perfeccionado su talento y lo ha compartido en distintos escenarios. Aunque muchos de sus proyectos musicales aún están en composición, parte de su trabajo ya puede conocerse en su canal de YouTube: Tu Academia Musical Willy Benítez.<br><br>

            Más allá de los logros individuales, también se ha dedicado a la enseñanza musical, buscando motivar a otros a descubrir su propio talento y abrirse camino en el arte. Su trayectoria combina la experiencia del escenario con la misión pedagógica de formar a nuevas generaciones.<br><br>

            Así mismo, hace parte de varios grupos musicales, los cuales son:<br><br>
            *Opus progressive - heavy metal.<br><br>
            *Roots of power - groove metal.<br><br>
            *SistemAnarquista - punk.<br><br>
            *Master of Covers - covers rock español e ingles.<br><br>
            *Domus - rap metal.<br><br>
            *Diversidad - parrandera, tropical, serenata, años 60' plancha, crossover.<br><br>

            <span> <b>Próximos proyectos y metas:<br><br> </b> </span>

            El mayor sueño del artista es ser reconocido a nivel mundial y, con ello, poder ayudar a más personas. Una de sus metas principales es crear una fundación, en la cual personas en situación de calle encuentren hospitalidad y, a cambio, puedan aprender un arte que les permita abrir nuevas oportunidades de vida.<br><br>

            Entre sus planes a corto plazo está continuar consolidando su proyecto musical, ampliar su alcance a más públicos y abrir espacios de colaboración con otros artistas.<br><br>

            <span> <b>Disponibilidad y colaboraciones:<br><br> </b> </span>

            El intérprete está abierto a compartir su arte con colegas, participar en eventos y presentaciones en vivo, además de colaborar en diferentes iniciativas musicales. Su disposición y versatilidad lo convierten en un artista que puede aportar a distintos escenarios y propuestas.<br><br>

            <span> <b>Contáctalo para tus eventos:<br><br> </b> </span>

            Celular: 3116125350<br><br>
            Correo: willy-x-@hotmail.com<br><br>

            O en sus redes sociales:<br><br>

            <a href="https://www.instagram.com/willybenitezmusic?igsh=cjNxbzV2cWwya3Zi" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/willy.benitez.berrio/" target="_blank" class="btn-servicio"><p>Síguelo en Facebook</p></a>
            <a href="https://www.tiktok.com/@tuacademiamusical_willy?is_from_webapp=1&sender_device=pc" target="_blank" class="btn-servicio"><p>Síguelo en Tik Tok</p></a>

        </p>


    </div>

    <div class="side-artista">
        <img class="imagen-artista" src="../img/Willy Benítez.jpg" alt="eventos">
        <div>
            <a href="https://www.youtube.com/@tuacademiamusicalwillybenitez" target="_blank" class="btn-servicio">Síguelo en youtube</a>
        </div>

        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Entrevistas</b> <br><br></p> </span>
                    <p>Entrevista exclusiva con Talentos Ocultos</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WSF9qwrF1Ww?si=I4DS8BtsH8iByv6n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Disfruta de su contenido musical</b></p> </span>

                    <a href="https://www.youtube.com/shorts/eKl7Yo95HzU" target="_blank" class="btn-servicio"><p>Reto de vuelo de moscardón #226</p></a>

                    <a href="https://www.youtube.com/watch?v=bwCxTPO_0y8" target="_blank" class="btn-servicio"><p>Armonización escalas mayores y menores</p></a>

                    <a href="https://www.youtube.com/watch?v=ymk2OumnGb0" target="_blank" class="btn-servicio"><p>Reto Vuelo de moscardón #221</p></a>

                    <a href="https://www.youtube.com/watch?v=FJT88gWDzco" target="_blank" class="btn-servicio"><p>Tamborilero - Violín Tutorial</p></a>

                    <a href="https://www.youtube.com/watch?v=Vh-Z8bKMRTU" target="_blank" class="btn-servicio"><p>El duende alegre - Guitarra tutorial </p></a>

                </div>
            </div>
        </div>

    </div>


</section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

<footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
</footer>

</body>
</html>
