<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talentos Ocultos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
</head>
<body >
<div class="main_title contenedor">
    <h1 class="main_title--titulo">Willy Benítez</h1>
</div>

<section id="artistas" class="contenedor">

    <div class="info-artista generic-text">
        <p><span> <b>Su Historia:</b> </p> </span>
        <p>Es músico de Bello, Antioquia hace más de 30 años, toca diversos instrumentos, predominando la guitarra eleéctica. <br>

            xxxxxxxxxxxxxxxxxxxxxx. <br><br>
            <span> <b>Inspiraciones musicales: <br><br></b></span>

            Su mayor inspiración para crear música es xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx para darse a conocer al público y llegar a más personas.<br><br>

            <span> <b>Trayectoria:<br><br></b> </span>

            xxxxxxxxxxxxxxxxxxxxxxxxxxxx.<br><br>

            <span> <b>Próximos proyectos:<br><br> </b> </span>

            xxxxxxxxxxxxxxxxxxxxxxxx.<br><br>
        </p>


    </div>

    <div class="side-artista">
        <img class="imagen-artista" src="../img/Willy Benítez.jpg" alt="eventos">
        <div>
            <a href="https://www.youtube.com/@tuacademiamusicalwillybenitez" target="_blank" class="btn-servicio">Síguelo en youtube</a>
        </div>

        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Entrevistas</b> <br><br></p> </span>
                    <p>Entrevista exclusiva con Talentos Ocultos</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                    <br><br>
                    <p>Reto de vuelo de moscardón</p>
                    <iframe width="100%" height="200" src="https://www.youtube.com/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="entrevista">
            <div class="">
                <div class="info-entrevista">
                    <p><span> <b>Disfruta de su contenido musical</b></p> </span>

                    <a href="https://www.youtube.com/watch?v=bwCxTPO_0y8" target="_blank" class="btn-servicio"><p>ARMONIZACIÓN ESCALAS mayores y menores</p></a>

                    <a href="https://www.youtube.com/watch?v=ymk2OumnGb0" target="_blank" class="btn-servicio"><p>Reto Vuelo de moscardón #221</p></a>

                    <a href="https://www.youtube.com/watch?v=FJT88gWDzco" target="_blank" class="btn-servicio"><p>Tamborilero - VIOLÍN Tutorial / partitura</p></a>

                    <a href="https://www.youtube.com/watch?v=Vh-Z8bKMRTU" target="_blank" class="btn-servicio"><p>El duende alegre - GUITARRA tutorial </p></a>

                    <a href="https://www.instagram.com/willybenitezmusic?igsh=cjNxbzV2cWwya3Zi" target="_blank" class="btn-servicio"><p>Síguelo en Instagram</p></a>

                    <a href="https://www.facebook.com/willy.benitez.berrio/" target="_blank" class="btn-servicio"><p>Síguelo en Facebook</p></a>

                    <a href="https://www.tiktok.com/@tuacademiamusical_willy?is_from_webapp=1&sender_device=pc" target="_blank" class="btn-servicio"><p>Síguelo en Tik Tok</p></a>


                </div>
            </div>
        </div>

    </div>


</section>
<a class="btn-servicio btn-2" href="./artistas.html">Regresar</a>

<footer>
    <!--<div class="redes-sociales">
      <a href="https://facebook.com" target="_blank">Facebook</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
    </div> -->
    <p>&copy; 2025 CamRodDev. Todos los derechos reservados para talentos ocultos.</p>
</footer>

</body>
</html>
